<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="OrangeHRM API Tests" verbose="1" preserve-order="true">

    <test name="All Tests" preserve-order="true">
        <classes>
            <class name="com.orangehrm.tests.AuthTest"/>
            <class name="com.orangehrm.tests.EducationTest"/>
            <class name="com.orangehrm.tests.EmployeeTest"/>
            <class name="com.orangehrm.tests.LeaveTest"/>
            <class name="com.orangehrm.tests.CleanUpTest"/>
        </classes>
    </test>

</suite>