<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="OrangeHRM API Tests" verbose="1">

    <test name="Authentication Tests">
        <classes>
            <class name="com.orangehrm.tests.AuthTest"/>
        </classes>
    </test>

    <test name="Education Tests">
        <classes>
            <class name="com.orangehrm.tests.EducationTest"/>
        </classes>
    </test>

</suite>